@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    background: url(https://media.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
  
    /**centrer**/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /**hauteur**/
  img{
    margin: 40px;
    border: 1px solid rgb(181, 135, 255);
    padding: 10px;
    height: 40vh;
    width: auto;
  }
  /**titres**/
  h1,h2{
    max-width: 800px;
    line-height: 1.5;
  }
  
  
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  .btn {
    box-shadow: 6px 10px 2px 1px #7d5c86;
    background:rgb(0, 0, 0);
    border:1px solid #fa7ed0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Press Start 2P', cursive;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b2d0fd;
  }
  .btn:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
  }
  .btn:active {
    position:relative;
    top:1px;
  }
  